<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2" verbose="1">
	<listeners>
		<listener class-name="mainUtilities.MyProjectListener"></listener>
		<listener class-name="mainUtilities.AnnotationTransformer"></listener>
		<listener class-name="resources.ExtentReporterNG"></listener>
	</listeners>
	
	<test name="Test">
		<parameter name="browser" value="chrome" />
		<parameter name="environment" value="UAT2url" />
		<classes>
			<class name="testScripts.NS_Quote_ValidationTest" />
		</classes>
	</test> <!-- Test -->

	<test name="dataProvider">
		<parameter name="browser" value="IE" />
		<parameter name="environment" value="UAT1url" />
		<classes>
			<class name="testScripts.CreateQuote_AllCombinationsTest" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
